body {
    background-color:  hsl(212, 45%, 89%);
    font-family: Outfit, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
    background-color:  white;
    width: 450px;
    border-radius: 8%;
    margin: 14em;
}

.container img {
    max-width: 100%;
    height: auto;
    border-radius: 8%;
}

.container h1 {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    color:  hsl(218, 44%, 22%);
}

.container-text {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding: 0 3rem;
    margin: 0 0 15px 0;
    color: hsl(216, 15%, 48%);
}